#board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
  border: 1px solid rgb(129, 129, 129);
  user-select: none;
}

.square:nth-child(1n) {
}

.square:nth-child(16n + 16),
.square:nth-child(16n + 14),
.square:nth-child(16n + 12),
.square:nth-child(16n + 10),
.square:nth-child(16n + 7),
.square:nth-child(16n + 5),
.square:nth-child(16n + 3),
.square:nth-child(16n + 1) {
  background-color: #f0d9b5;
  color: #b58863;
}

.square {
  background-color: #b58863;
  color: #f0d9b5;
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.square--movable:hover {
  background-color: #95b079 !important;
}

.square--movable::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background-color: #95b079;
}

.square--movable:hover::after {
  width: 0px;
  height: 0px;
}

.pawn--white {
  height: 100%;
  width: 100%;
  content: url("../assets/pawn_white.svg");
}

.pawn--black {
  height: 100%;
  width: 100%;
  content: url("../assets/pawn_black.svg");
}

.knight--white {
  height: 100%;
  width: 100%;
  content: url("../assets/knight_white.svg");
}

.knight--black {
  height: 100%;
  width: 100%;
  content: url("../assets/knight_black.svg");
}

.bishop--white {
  height: 100%;
  width: 100%;
  content: url("../assets/bishop_white.svg");
}

.bishop--black {
  height: 100%;
  width: 100%;
  content: url("../assets/bishop_black.svg");
}

.rook--white {
  height: 100%;
  width: 100%;
  content: url("../assets/rook_white.svg");
}

.rook--black {
  height: 100%;
  width: 100%;
  content: url("../assets/rook_black.svg");
}

.queen--white {
  height: 100%;
  width: 100%;
  content: url("../assets/queen_white.svg");
}

.queen--black {
  height: 100%;
  width: 100%;
  content: url("../assets/queen_black.svg");
}

.king--white {
  height: 100%;
  width: 100%;
  content: url("../assets/king_white.svg");
}

.king--black {
  height: 100%;
  width: 100%;
  content: url("../assets/king_black.svg");
}
