#board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
  border: 1px solid rgb(129, 129, 129);
  margin-top: 60px;
  user-select: none;
}

.square:nth-child(1n) {
}

.square:nth-child(16n + 16),
.square:nth-child(16n + 14),
.square:nth-child(16n + 12),
.square:nth-child(16n + 10),
.square:nth-child(16n + 7),
.square:nth-child(16n + 5),
.square:nth-child(16n + 3),
.square:nth-child(16n + 1) {
  background-color: #f0d9b5;
  color: #b58863;
}

.square {
  background-color: #b58863;
  color: #f0d9b5;
  width: 84px;
  height: 84px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.square > p {
  margin: 2px;
  line-height: 1em;
  font-size: 1.3cqw;
  user-select: none;
}

.square > p:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.square p:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pawn--white {
  height: 100%;
  width: 100%;
  content: url("../assets/pawn_white.svg");
}

.pawn--black {
  height: 100%;
  width: 100%;
  content: url("../assets/pawn_black.svg");
}

.knight--white {
  height: 100%;
  width: 100%;
  content: url("../assets/knight_white.svg");
}

.knight--black {
  height: 100%;
  width: 100%;
  content: url("../assets/knight_black.svg");
}

.bishop--white {
  height: 100%;
  width: 100%;
  content: url("../assets/bishop_white.svg");
}

.bishop--black {
  height: 100%;
  width: 100%;
  content: url("../assets/bishop_black.svg");
}

.rook--white {
  height: 100%;
  width: 100%;
  content: url("../assets/rook_white.svg");
}

.rook--black {
  height: 100%;
  width: 100%;
  content: url("../assets/rook_black.svg");
}

.queen--white {
  height: 100%;
  width: 100%;
  content: url("../assets/queen_white.svg");
}

.queen--black {
  height: 100%;
  width: 100%;
  content: url("../assets/queen_black.svg");
}

.king--white {
  height: 100%;
  width: 100%;
  content: url("../assets/king_white.svg");
}

.king--black {
  height: 100%;
  width: 100%;
  content: url("../assets/king_black.svg");
}
