#board {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto;
  border: 1px solid rgb(129, 129, 129);
  margin-top: 60px;
}

.square:nth-child(1n) {
}

.square:nth-child(16n + 16),
.square:nth-child(16n + 14),
.square:nth-child(16n + 12),
.square:nth-child(16n + 10),
.square:nth-child(16n + 7),
.square:nth-child(16n + 5),
.square:nth-child(16n + 3),
.square:nth-child(16n + 1) {
  background-color: #ffce9e;
}

.square {
  background-color: #d18b47;
  width: 84px;
  height: 84px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  /* background: url("../assets/king_white.svg"); */
}

.bishop--white {
  height: 100%;
  width: 100%;
  content: url("../assets/bishop_white.svg");
}
